<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<div th:switch="${cars}">
    <h2 th:case="null">No cars found!</h2>
    <div th:case="*">
        <h2>Cars</h2>
        <table>
            <tr>
                <th>Id</th>
                <th>Brand car</th>
                <th>Engine capacity</th>
                <th>Year car</th>
                <th>Picture</th>
            </tr>
            <tr th:each="car : ${cars}">
                <td th:text="${car.carId}"></td>
                <td th:text="${car.brandCar}"></td>
                <td th:text="${car.engineCapacity}"></td>
                <td th:text="${car.year}"></td>
                <td th:text="${car.picture}"></td>
                <td><a th:href="@{car-update/{id}(id=${car.carId})}">Edit</a></td>
                <td><a th:href="@{car-delete/{id}(id=${car.carId})}">Delete</a></td>
                <td><a href="/review-create">Create review</a></td>
            </tr>
        </table>
    </div>
    <p><a href="/car-create">Create cars</a></p>
</div>
</body>
</html>