<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Reviews</title>
</head>
<body>
<div th:switch="${reviews}">
    <h2 th:case="null">No reviews found!</h2>
    <div th:case="*">
        <h2>Reviews</h2>
        <table>
            <tr>
                <th>Id</th>
                <th>Message</th>
            </tr>
            <tr th:each="review : ${reviews}">
                <td th:text="${review.reviewId}"></td>
                <td th:text="${review.message}"></td>
                <td><a th:href="@{review-update/{id}(id=${review.reviewId})}">Edit</a></td>
                <td><a th:href="@{review-delete/{id}(id=${review.reviewId})}">Delete</a></td>
                <td><a href="/review-create">Create review</a></td>
            </tr>
        </table>
    </div>
    <p><a href="/review-create">Create reviews</a></p>
</div>
</body>
</html>
